@charset "UTF-8";
.logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-block i.fa-bars {
    font-size: 1.8rem;
    color: #B4E0E3;
    color: pointer !important;
    z-index: 38;
    position: relative;
    margin-right: 1em; }
  .logo-block_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .logo-block img {
    width: 4em; }
  .logo-block p {
    text-transform: uppercase;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 1.3em;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    color: #B4E0E3; }
    .logo-block p b {
      font-weight: 700; }

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

i.fa-bars {
  display: none; }

.logo-block a {
  text-decoration: none !important; }

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  background: #f0f9ff; }
  .preloader img {
    width: 2em;
    opacity: 0; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #111;
  color: #555;
  padding: 4em 0;
  width: 100%;
  z-index: 20;
  position: relative; }
  footer .footer-links li:after {
    content: 'â—';
    font-size: 0.7rem;
    color: #fafafa;
    margin: 0 1em; }
  footer .footer-links li {
    display: inline-block;
    text-transform: uppercase; }
    footer .footer-links li:last-of-type:after {
      content: ''; }
    footer .footer-links li a {
      color: #fafafa;
      text-decoration: none; }
      footer .footer-links li a:hover {
        text-decoration: underline; }
  footer .footer-links .extra-links {
    margin-top: 0.8em;
    margin-bottom: 4em; }
    footer .footer-links .extra-links a {
      font-size: 0.8rem;
      color: #999; }
    footer .footer-links .extra-links li:after {
      color: #999; }
  footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .copyright {
    line-height: 1.3em; }
  footer ul.social {
    font-size: 0; }
    footer ul.social li {
      display: inline-block; }
      footer ul.social li a {
        color: #333;
        font-size: 1.5rem;
        margin-left: 1.2em;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        footer ul.social li a:hover {
          color: #555; }
      footer ul.social li .discord {
        margin-left: 0 !important; }

@media only screen and (max-width: 425px) {
  footer {
    padding: 2em 0; }
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    footer p.copyright {
      margin-bottom: 1em; }
    footer a {
      margin-left: 0.9em !important; }
  .logo-block img {
    width: 5.5em !important; } }

body > i.fa-times {
  position: fixed;
  right: 1em;
  top: 1em;
  color: #666;
  font-size: 1rem;
  z-index: 100;
  opacity: 0;
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 1em; }
  body > i.fa-times:hover {
    color: #999; }

.aside-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  opacity: 0;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

aside {
  width: 20vw;
  background: #0C0C0C;
  min-width: 350px;
  position: relative;
  min-height: 100vh;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  aside .side-line {
    height: 100vh;
    width: 2vw;
    background: #0A0A0A;
    position: fixed;
    left: 0;
    top: 0; }
  aside .side-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
  aside ul {
    background: url("../assets/henry-co-tqu0IOMaiU8-unsplash.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    height: 100vh;
    -webkit-filter: brightness(60%) contrast(456%);
            filter: brightness(60%) contrast(456%);
    height: 100%; }
    aside ul li {
      margin-top: 2.5em;
      list-style: none !important; }
      aside ul li .fas, aside ul li .far {
        display: none;
        opacity: 0;
        margin-right: 0.2em; }
      aside ul li a {
        font-size: 2.2rem;
        text-decoration: none;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        aside ul li a:hover .fas, aside ul li a:hover .far {
          opacity: 1;
          display: inline; }
      aside ul li p {
        color: #fafafa;
        background: none !important; }
  aside .search {
    width: 100%;
    border-bottom: 2px solid #111; }
    aside .search input {
      z-index: 20; }
  aside .search-input {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    padding: 2.5em 0;
    padding-bottom: 2.3em;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    aside .search-input input {
      border: none;
      outline: none;
      color: #585858;
      font-size: 1rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 600;
      background: transparent; }
      aside .search-input input::-webkit-input-placeholder {
        color: #585858; }
      aside .search-input input::-moz-placeholder {
        color: #585858; }
      aside .search-input input:-ms-input-placeholder {
        color: #585858; }
      aside .search-input input::-ms-input-placeholder {
        color: #585858; }
      aside .search-input input::placeholder {
        color: #585858; }
    aside .search-input i {
      color: #585858;
      margin-right: 0.8em;
      font-size: 0.8rem; }

main {
  width: 100%; }

p.form-error {
  color: red;
  margin-top: 1em;
  max-width: 100%;
  display: none; }

@media only screen and (max-width: 768px) {
  body {
    position: relative; }
  i.fa-bars {
    display: block !important; }
  aside {
    position: fixed;
    left: -110%;
    top: 0;
    z-index: 40; }
    aside .side-line {
      left: -10%; }
  .main-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .logo-block {
    margin-top: 2em !important; }
    .logo-block img {
      width: 7em; }
    .logo-block p {
      margin-top: 0.3em !important;
      display: none; }
    .logo-block i.fa-bars {
      margin-right: 1em; }
  .main-blocks {
    margin-top: 2em !important; }
  .login-form {
    margin-top: 2em; } }

@media only screen and (max-width: 500px) {
  .container {
    width: 90% !important; } }

@media only screen and (max-width: 425px) {
  .play-btn, .login-form {
    width: 100% !important; }
  .play {
    width: 100%; }
  .play-btn {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    width: 100% !important; }
  aside {
    width: 15vw !important;
    min-width: 75vw; }
    aside a {
      font-size: 1.4rem !important; }
    aside li {
      margin-top: 2em !important; }
  footer .footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  footer ul.main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 !important; }
    footer ul.main-nav li {
      padding: 0.5em 0;
      font-size: 0.9rem; }
      footer ul.main-nav li a {
        margin-left: 0 !important; }
      footer ul.main-nav li:after {
        content: ''; }
  footer ul.extra-links {
    margin-top: 0 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer ul.extra-links li {
      padding: 0.5em 0; }
      footer ul.extra-links li a {
        margin-left: 0 !important; }
      footer ul.extra-links li:after {
        content: ''; }
  footer p.copyright {
    margin-top: 1em; } }

.sideToggled {
  left: 0; }
  .sideToggled:before {
    opacity: 1; }

@media only screen and (max-width: 1024px) and (max-height: 425px) {
  aside {
    width: 100vw !important; }
    aside a {
      font-size: 1.2rem !important; }
    aside ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em; }
      aside ul li {
        margin-top: 0 !important; }
  footer {
    font-size: 0.9rem; }
  .logo-block img {
    width: 5.5em !important; } }

@media only screen and (max-width: 1024px) {
  aside {
    position: fixed;
    left: -110%;
    top: 0;
    z-index: 40; }
    aside .side-line {
      left: -10%; }
  .logo-block img {
    width: 9em; }
  .logo-block i {
    font-size: 1.6rem !important; }
  .logo-block p {
    display: none; }
  i.fa-bars {
    display: block !important; } }

@media only screen and (max-width: 1600px) {
  .container {
    width: 90% !important; } }

#screen.tucked {
  height: 100vh;
  overflow: hidden; }

.search-screen {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: #fafafa;
  z-index: 102;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none; }
  .search-screen input {
    font-size: 4.5rem;
    color: #444;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 20vh;
    width: 100%; }
    .search-screen input::-webkit-input-placeholder {
      color: #666; }
    .search-screen input::-moz-placeholder {
      color: #666; }
    .search-screen input:-ms-input-placeholder {
      color: #666; }
    .search-screen input::-ms-input-placeholder {
      color: #666; }
    .search-screen input::placeholder {
      color: #666; }
  .search-screen h2 {
    font-size: 1rem;
    text-transform: uppercase; }
  .search-screen .filters {
    margin-top: 1.2em; }
  .search-screen .filter {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 0.2em 1.6em;
    padding-bottom: 0.3em;
    border: 2px solid #000;
    color: #000;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .search-screen .filter:hover {
      background: #000;
      color: #fafafa; }
  .search-screen [data-search-filter="shop"] {
    margin-left: 1em; }
  .search-screen .search-results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 4em; }
    .search-screen .search-results .search-result {
      margin-top: 2.5em;
      background: #f0f0f0;
      padding: 2em;
      width: 55%;
      display: none; }
    .search-screen .search-results p {
      text-transform: uppercase;
      margin-top: 0.5em;
      width: 100%;
      word-wrap: break-word; }
    .search-screen .search-results .categorie {
      font-weight: 600; }
    .search-screen .search-results .categorie, .search-screen .search-results .location {
      margin-left: 0.3em; }
    .search-screen .search-results .search-details h3 {
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 1.2em;
      letter-spacing: 0.05em;
      font-size: 1.1rem; }
    .search-screen .search-results .search-details p {
      text-transform: none; }
    .search-screen .search-results .search-details .detail-cat, .search-screen .search-results .search-details .price {
      margin-left: 0.3em; }
    .search-screen .search-results .cta-goto {
      background: #fff;
      text-transform: uppercase;
      font-weight: 600;
      color: #000;
      border-radius: 5px;
      padding: 0.4em 1.5em;
      text-decoration: none;
      font-size: 0.9rem;
      margin-top: 2em;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .search-screen .search-results .cta-goto:hover {
        background: #000;
        color: #fafafa; }
    .search-screen .search-results .no-search-results {
      text-transform: none;
      font-size: 1rem;
      text-align: center;
      display: inline-block;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      margin-top: 8em;
      display: none;
      line-height: 1.5em; }
      .search-screen .search-results .no-search-results .search-req {
        font-weight: 600; }
    .search-screen .search-results .author {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      margin-left: 2.5em; }
      .search-screen .search-results .author img {
        position: absolute;
        top: 0%;
        left: -1.8em;
        width: 1.2em; }
  .search-screen .close-search {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3%;
    text-decoration: none;
    color: #777;
    font-size: 2rem;
    padding: 0.3em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .search-screen .close-search:hover {
      color: #000; }
  .search-screen .activeFilter {
    background: #000;
    color: #fff; }

@media only screen and (max-width: 425px) {
  body {
    width: 100vw;
    overflow-x: hidden; }
  .search-screen {
    width: 100vw;
    overflow-x: visible; }
    .search-screen .search-results {
      width: 100%; }
      .search-screen .search-results .search-result {
        width: 100%;
        min-width: 100%; }
    .search-screen input {
      font-size: 3rem; }
    .search-screen .location {
      margin-left: 0 !important; }
    .search-screen .container {
      width: 90% !important; }
    .search-screen input {
      margin-top: 1.5em; }
    .search-screen .filters {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
      .search-screen .filters .filter {
        margin-left: 0;
        text-align: center;
        margin-top: 1.3em;
        padding-top: 0.5em;
        padding-bottom: 0.6em; }
        .search-screen .filters .filter:first-of-type {
          margin-top: 0; } }

@media only screen and (max-height: 425px) and (max-width: 768px) {
  .search-screen input {
    font-size: 2rem; }
  .search-screen .filter {
    font-size: 0.9rem; }
  .search-screen .search-results {
    width: 100%; }
  .search-screen .search-result {
    min-width: 100%; }
    .search-screen .search-result p {
      font-size: 0.9rem; } }

.addedToCart {
  background: #333 !important;
  cursor: not-allowed !important; }
  .addedToCart:hover {
    background: #333 !important; }
