footer
	display: flex
	background: #111
	color: #555
	padding: 3em 0
	width: 100%

	.container
		display: flex
		justify-content: space-between
		align-items: center

	ul.social
		font-size: 0

		li
			display: inline-block

			a
				color: #333
				font-size: 1.5rem
				margin-left: 1.2em
				transition: 0.3s

				&:hover
					color: #555

			&:first-of-type
				margin-left: 0