body
	background: #f2f2f2

main 
	.container
		display: flex
		flex-direction: column

	img
		width: 8em
		margin-top: 5em 

.staff-apps
	flex-direction: column
	display: inline-flex
	margin-top: 2.5em
	align-self: flex-start


	.tabs
		display: inline-flex

		.tab
			background: #fff
			padding: 0.7em 4em
			cursor: pointer
			text-transform: uppercase
			font-weight: 500
			border-right: 1px solid #f1f1f1
			border-bottom: 1px solid #f1f1f1
			transition: 0.3s all 

			&:last-of-type
				border-right: none

			&:hover
				background: #ccc

		.active-tab
			background: #222
			color: #fff
			font-weight: 600
			border: none

			&:hover
				background: #222

	.staff-app-block
		width: 100%

	.app-block
		display: inline-flex
		flex-direction: column
		align-items: flex-start

	.staff-app-block, .app-block > div
		display: inline-flex
		flex-direction: column

	.basic-info, .app-block > div
		margin-top: 2em
		background: #fff	
		padding: 2em
		width: 100%
		display: flex
		flex-direction: column
		align-items: flex-start

	.basic-info

		&:first-of-type
			margin-top: 0

	// Basic elements (inputs, textareas, labels etc.)
	input
		border: none
		outline: none
		background: #F1F1F1
		padding: 0.5em 1em
		padding-right: 5em

	label
		margin-bottom: 0.5em
		margin-top: 1em

		&:first-of-type
			margin-top: 0

	textarea
		border: none
		outline: none
		background: #F1F1F1
		padding: 2em
		width: 100%
		margin-top: 1.5em

	p.extra-info
		font-size: 0.9rem
		font-style: italic

		.star
			color: red

	input[type="submit"]
		padding: 0.5em 2.6em
		border: 2px solid #000
		font-weight: 600
		margin-top: 2em	
		cursor: pointer
		transition: 0.3s
		align-self: flex-start

		&:hover
			background: #000
			color: #fff

.form-error
	color: red
	margin-bottom: 10em
	margin-top: 0.9em
	font-size: 0.9rem

.success
	color: green

h1
	font-weight: 700
	font-size: 1.5rem
	text-transform: uppercase
	letter-spacing: 0.05em
	margin-bottom: 0.8em

@media only screen and (max-width: 425px)
	.tab
		padding: 1em 0em !important
		font-size: 0.8rem

	.tabs
		width: 100% !important
		display: grid !important
		justify-content: space-between
		grid-template-columns: repeat(3, 1fr)
		text-align: center

	.staff-apps
		width: 100% !important

	.container
		width: 92% !important

	input,textarea
		width: 100%

	img
		width: 5em !important
		margin-top: 2em !important

	.staff-apps
		margin-top: 1em !important

	p.form-error
		margin-bottom: 2em !important
